.footerAtag {
    text-decoration:none;
    color: #FFFFFF;             
}
.footerAtag:hover{
    color: rgb(31, 245, 245);
}

.selectBox{
    padding:15px 19px;
    background-color: #1E1B1E;
    color: #FFFFFF;
    border-radius: 10px;
    width: 160px;
    height: 55px;
    font-size: 18px;
    cursor: pointer;
}

.footerBtn{
    background:#1E1B1E;
    color:#FFFFFF;
    font-size:18px;
    padding:10px;
    border-width:0px;
    border:1px solid white;
    border-radius:5px;
    cursor: pointer;
}
.footerBtn:hover{
    color: #f5baba;
    border: 1px solid rgb(187, 60, 60);
}

.matIcon{
    cursor: pointer;
}